.no-data-container {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 20px;
  }
  
  .no-data-image {
    width: 30vw;
    margin-bottom: 20px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  a {
    color: #3498db;
    text-decoration: none;
    margin-left: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  